@model IEnumerable<QL_ThuVien.Models.TblLoaiSach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý loại sách</h1>

<p>
    <a class="btn btn-success m-2" asp-action="Create">Thêm mới</a>
</p>
<div class="btn-group ">
    <div class="col-lg-12 ">
        <form class="d-flex" role="search">
            <input style="max-width:250px;max-height:40px;" class="form-control me-2" type="search" placeholder="Bạn muốn tìm gì?" aria-label="Search">
            <button style="max-width:100px;max-height:35px;" class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StTenSach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StTenSach)
            </td>
            
            <td>
                <a class="btn btn-secondary m-2" asp-action="Edit" asp-route-id="@item.StMaLoaiSach">Edit</a>
                <a class="btn btn-success m-2" asp-action="Details" asp-route-id="@item.StMaLoaiSach">Details</a>
                <a class="btn btn-danger m-2" asp-action="Delete" asp-route-id="@item.StMaLoaiSach">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
