@model DoAn2_ASP.Models.TblTaiKhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblTaiKhoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiTrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaNgayDangNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaNgayDangNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaNgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaNgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StSalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StSalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InMaQuyenHanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InMaQuyenHanNavigation.StGhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMaSinhVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMaSinhVienNavigation.StMaSinhVien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InMaTaiKhoan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
