@model IEnumerable<DoAn2_ASP.Models.TblTaiKhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StMatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiTrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaNgayDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaNgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StSalt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InMaQuyenHanNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StMaSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StMatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiTrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaNgayDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaNgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StSalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InMaQuyenHanNavigation.StGhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StMaSinhVienNavigation.StMaSinhVien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InMaTaiKhoan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InMaTaiKhoan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InMaTaiKhoan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
