@model IEnumerable<QL_ThuVien.Models.TblDonMuonSach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StMaKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StMaSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StMaKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StMaSinhVienNavigation.StGmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StMaDonMuon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StMaDonMuon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StMaDonMuon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
