@model DoAn2_ASP.Models.TblSach

@{
    ViewData["Title"] = Model.StMaLoaiSach;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TblSach> lsBook = ViewBag.SanPham;
}
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/style.css" rel="stylesheet">
<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <a href="#" class="product-image"><img src="~/image/@Model.StAnh"></a>
            </div>

            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1>@Model.StTenSach</h1>

                    <p>
                        <a asp-area="" asp-route-StMaLoaiSach="@Model.StMaLoaiSach" asp-controller="Book" asp-action="List">@Model.StMaLoaiSachNavigation.StTenSach</a>
                    </p>
                    <p>
                        @Model.StTomTat
                    </p>
                    <p>
                        @Model.StTinhTrang
                    </p>
                    <div class="cart-plus-minus">
                        Số lượng
                        <input id="txtsoLuong" name="txtsoLuong" class="cart-plus-minus-box" value="1" type="text">
                    </div>
                    <button class="add-to-cart" href="javascript:void(0)">Thêm vào</button> 
                    <input hidden asp-for="StMaSach" />
                </div>
            </div>
        </div>
        <div><h1><p>Các loại sách tương tự</p>  </h1></div>
        <div class="row pb-3">
            @if (lsBook != null)
            {
                foreach (var item in lsBook)
                {
                    //string url = $"/{item.StMaLoaiSach}-{item.StMaSach}.html";
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a asp-area="" asp-route-id="@item.StMaSach" asp-controller="Book" asp-action="Detail">
                                    <img class="img-fluid w-100" src="~/image/@item.StAnh" alt="@item.StTenSach" style="width: 500px; height: 500px;" />
                                </a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">

                                <a asp-area="" asp-route-id="@item.StMaSach" asp-controller="Book" asp-action="Detail">
                                    <h6 class="text-truncate mb-3">@item.StTenSach</h6>
                                </a>
                                <div class="d-flex justify-content-center">
                                    <h6 class="text-muted ml-2"></h6>
                                </div>
                            </div>
                                
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a asp-area="" asp-route-id="@item.StMaSach" asp-controller="Book" asp-action="Detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
                                <a href="javascript:void(0)" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ sách</a>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@section Scripts{
    <script>
    $(document).ready(function () {
        $(function () {
            $(".add-to-cart").click(function () {
                var bookID = $('#StMaSach').val();
                var soLuong = $('#txtsoLuong').val();
                $.ajax({
                    url: '/BookCart/AddToCart',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        bookID: bookID,
                        amount: soLuong
                    },
                    success: function (response) {
                        if (response.result == 'Redirect') {
                            window.location = response.url;
                        }
                        else {
                            //loadHeaderCart(); //Add Product success
                            //location.reload();
                            alert("Thêm thành công");
                        }
                        console.log(response); // log to the console to see whether it worked
                    },
                    error: function (error) {
                        alert("There was an error posting the data to the server: " + error.responseText);
                    }
                });
            });

            @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                    url: "api/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });*@
        });
        //function loadHeaderCart() {
         //   $('#miniCart').load("/AjaxContent/HeaderCart");
        //    $('#numberCart').load("/AjaxContent/NumberCart");
        //}
    });
    </script>

}