@model IEnumerable<DoAn2_ASP.Models.TblTacGia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tác giả</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StTenTacGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StTenTacGia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StMaTacGia">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.StMaTacGia">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.StMaTacGia">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
