@model QL_ThuVien.Models.TblSinhVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTenSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTenSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InSoLanBiPhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InSoLanBiPhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InSoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InSoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StGmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StGmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StSoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StSoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMaKhoaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMaKhoaNavigation.StTenKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMaSinhVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMaSinhVienNavigation.StMatKhau)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StMaSinhVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
