@model IEnumerable<QL_ThuVien.Models.TblSinhVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý sinh viên</h1>

<p>
    <a class="btn btn-success m-2" asp-action="Create">Thêm mới</a>
</p>
<div class="btn-group ">
    <div class="col-lg-12 ">
        <form class="d-flex" role="search">
            <input style="max-width:250px;max-height:40px;" class="form-control me-2" type="search" placeholder="Bạn muốn tìm gì?" aria-label="Search">
            <button style="max-width:100px;max-height:35px;" class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
    </div>
</div>
<div class="btn-group ">
    <div class="col-lg-12 ">
        <form class="d-flex" role="search">
            <input style="max-width:250px;max-height:40px;" class="form-control me-2" type="search" placeholder="Bạn muốn tìm gì?" aria-label="Search">
            <button style="max-width:100px;max-height:35px;" class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StTenSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InSoLanBiPhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InSoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StGmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StSoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StMaKhoaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StMaSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StTenSinhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InSoLanBiPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InSoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StGmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StSoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StMaKhoaNavigation.StTenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StMaSinhVienNavigation.StMatKhau)
            </td>
            
            <td>
                <a class="btn btn-secondary m-2" asp-action="Edit" asp-route-id="@item.StMaSinhVien">Edit</a>
                <a class="btn btn-success m-2" asp-action="Details" asp-route-id="@item.StMaSinhVien">Details</a>
                <a class="btn btn-danger m-2" asp-action="Delete" asp-route-id="@item.StMaSinhVien">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
