@model QL_ThuVien.Models.TblSach

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTomTat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTomTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAnh)
        </dt>
        <dd class = "col-sm-10">
              <img src="~/image/@Html.DisplayFor(model => model.StAnh)" width="250">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMaKeSachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMaKeSachNavigation.StTenKeSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMaLoaiSachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMaLoaiSachNavigation.StTenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMaTacGiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMaTacGiaNavigation.StTenTacGia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StMaSach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
