@model IEnumerable<DoAn2_ASP.Models.TblQuyenHan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.StTenQuyenHan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StGhiChu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StTenQuyenHan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StGhiChu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InMaQuyenHan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InMaQuyenHan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InMaQuyenHan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
