@model IEnumerable<DoAn2_ASP.Models.TblDonMuonSach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StMaKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaNgayMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaNgayTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiTrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StMaSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StMaKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaNgayMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaNgayTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiTrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StMaSinhVienNavigation.StMaSinhVien)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.StMaDonMuon">Trả sách</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
